﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/css/style.css">

	<script src="/scripts/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">@Umbraco.Field("#Welcome Text")</h1>
			<nav>
				<ul>
                    @{
                        var root = Model.Content.AncestorOrSelf(1).Children;
                        foreach (var language in root)
                        {
                            if (language.HasProperty("imageFlag")) {
                                var imgID = language.GetPropertyValue("imageFlag");
                                var img = Umbraco.Media(imgID);
                                <img src="@img.Url" atl="@img.Name" />
                            }
                        }
                    }
					<li><a href="/">@Umbraco.Field("#HomePage")</a></li>
					<li><a href="/contact-us">@Umbraco.Field("#Contact")</a></li>
					<li><a href="/articles">@Umbraco.Field("#Article")</a></li>
				</ul>
			</nav>
		</header>
	</div>
			
	@RenderBody()
			
	<div id="footer-container">
		<footer class="wrapper">
			@Umbraco.Field("footerText", recursive: true)
			@Umbraco.Field("oldmark", recursive: true)
		</footer>
	</div>

</body>
</html>
