﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

<ul>
    @foreach (var item in selection)
    {
		<div class="article">
        	<li><a href="@item.Url">@item.articlesTitle</a></li>
			<div class="articlepreview">@Umbraco.Truncate(@item.articlesContent,100) <a href="@item.Url">Read More..</a></div>
		</div>
		<hr/>
	}
</ul>